
.twitter{
    height: 40px;
}
.facebook{
    height: 40px;
}
.insta{
    height: 40px;
    object-fit: cover;
}

.btn {
    color: black;
    text-decoration: dashed;
    font-style: italic;
   font-size: 20px;
     
}

ul{

}

li{
    list-style: circle;
}

.plus{
    justify-content: center;
    background-color: grey;
    border-radius: 20%;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    margin-right: 50%;
}