.presentation-acteur {
    background-image: url("../../images/Colin-Farrell-salut.webp");
    background-size: cover;
    background-attachment: fixed;
    padding: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  justify-content:center ;
 
}

    

/*.projet-acteur {
    width: auto;
    height: 400px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 }*/

 #projet-acteur {
    /*background-image: url(../../images/Colin-Farrell-terrorisé.jpg);*/
    filter: brightness(50%);
   transition: all 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 50px;
    
    

}
#projet-acteur:hover{
    filter: none;
}


 .carousel-slide {
    margin-left: 20px; 
    margin-right: 20px;
 }
 

 

.carte-acteur{
    display: flex;
    margin-top: 90px;
    /*flex-wrap: wrap;*/
    margin-bottom: 600px;
    justify-content: center;     
}
@media screen and (max-width:778px) {
    .carte-acteur {
        margin: auto;
        width: 100%;
        display: block;
        margin-bottom: 550px;
        margin-left: 50%;
        
    }
    
}

.grands-succès {
    border: 5px solid black;
    margin-left: 10px;
   margin-right: 10px;
   
}

.grands-succès :hover {
    background-color:grey;
   

}
@media(max-width:778px) {
    .grands-succès {
        margin-left: 40%;
    }
 }
.best{
    margin: 45px;
}
    


.description-acteur {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    
 }
 
.footer{
    background-image: url("../../images/lumiere.jpg");
    margin-top: 300px;
    background-size: cover;
    background-repeat: no-repeat;
     }
.lacteur{
    position: relative;
    top: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;

}
   
