* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("../images/lesfilms.png");
    /*background-repeat: repeat;*/
   /* filter: brightness(50%);*/
    color: rgba(249, 255, 250, 0.959);
    font-weight: bolder;

}
.filmographie {
    background-color: gray;
    width: 50%;
}